# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Process

on:
  workflow_call:
   inputs:
     opps:
       default: 'no name'
       type: string
       required: false

jobs:

  mainworkflow:
    if: inputs.opps == 'true'
    runs-on: ubuntu-latest

    steps:
        # run only if some file in 'src' folder was changed of module 1
      - run:
          echo my name is ${{ inputs.opps }} ${{ github.ref }}
      - name: If change is in module1 create release tag
#        if: ${{ inputs.opps }} == 'true'
        run: |
          echo i am here da my name is ${{ inputs.opps }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}